# Exploratory Data Analysis on Student's Academic Performance

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
data=pd.read_excel('data.xlsx')
data

,First Name,Email ID,Quantity,Events,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,City,CGPA,Experience with python (Months),Family Income,Expected salary (Lac),Leadership- skills
0,ANIKET,aniket@xyz.com,1,Art of Resume Building,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,2024,Patna,6.7,7,7 Lakh+,6,yes
1,Dhanshree,dhanshree@xyz.com,1,Art of Resume Building,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,2024,Amravati,8.2,3,0-2 Lakh,7,no
2,Dhiraj,dhiraj@xyz.com,1,Art of Resume Building,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,2023,Kunrool,6.5,4,5-7 Lakh,7,no
3,Pooja,pooja@xyz.com,1,Art of Resume Building,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,2025,Tirupati,8.7,7,2-5 Lakh,8,no
4,Aayush,aayush@xyz.com,1,Art of Resume Building,Attending,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,2024,Vijaywada,9.1,3,0-2 Lakh,10,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,Patel Niraj,patelniraj@xyz.com,1,The SDLC & their transformations,Attending,"thakur institute of management studies, career...",LinkedIn | Whatsapp | Email,NaN,Students,2024,Jodhpur,6.9,6,0-2 Lakh,15,yes
4890,VIDIT,vidit@xyz.com,1,Data Visualization using Power BI,Attending,government polytechnic gandhinagar,NaN,NaN,Students,2023,Jalgaon,6.5,6,0-2 Lakh,8,no
4891,Suryaprakash,suryaprakash@xyz.com,1,Data Visualization using Power BI,Attending,"vishwakarma institute of technology, pune",NaN,NaN,Students,2024,Thane,6.9,5,0-2 Lakh,7,no
4892,Saif ali,saifali@xyz.com,1,Data Visualization using Power BI,Attending,"mit academy of engineering ,alandi",NaN,NaN,Students,2024,Patiala,9.0,3,0-2 Lakh,23,yes
4893,Lankesh,lankesh@xyz.com,1,Data Visualization using Power BI,Attending,a. c. patil college of engineering,NaN,NaN,Students,2025,Sangrur,7.2,8,0-2 Lakh,9,yes

In [3]:
data.info()                     #Get a concise summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894 entries, 0 to 4893
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       4894 non-null   object
 1   Email ID                                                         4894 non-null   object
 2   Quantity                                                         4894 non-null   int64
 3   Events                                                           4894 non-null   object
 4   Attendee Status                                                  4894 non-null   object
 5   College Name                                                     4879 non-null   object
 6   How did you come to know about this event?                       2678 non-null   object
 7   Specify in "Others" (how did you come to know about this event)  89 non-null     object
 8   Designation                                                      4894 non-null   object
 9   Year of Graduation                                               4894 non-null   int64
 10  City                                                             4894 non-null   object
 11  CGPA                                                             4894 non-null   float64
 12  Experience with python (Months)                                  4894 non-null   int64
 13  Family Income                                                    4894 non-null   object
 14  Expected salary (Lac)                                            4894 non-null   int64
 15  Leadership- skills                                               4894 non-null   object
dtypes: float64(1), int64(4), object(11)
memory usage: 611.9+ KB

## The students are classified into three numerical intervals based on their total grade/mark:
## L=0-69
## M=70-89
## H=90-100

**Questions That Analyze the dataset**

---

1)How many unique students are included in the dataset?

In [4]:
unique_students = data['Email ID'].nunique()
print(f'Number of unique students: {unique_students}')

Number of unique students: 2157

2)What is the average GPA of the students?

In [5]:
average_gpa = data['CGPA'].mean()
print(f'Average GPA of the students: {average_gpa:.2f}')

Average GPA of the students: 8.04

3)What is the distribution of students across different graduation years?

In [6]:
graduation_year_distribution = data['Year of Graduation'].value_counts()
print(graduation_year_distribution)

Year of Graduation
2023    1536
2024    1511
2025    1292
2026     555
Name: count, dtype: int64

4)What is the distribution of student's experience with Python programming?

In [7]:
python_experience_distribution = data['Experience with python (Months)'].value_counts().sort_index()
print(python_experience_distribution)

Experience with python (Months)
3    1008
4     466
5    1242
6     738
7     640
8     800
Name: count, dtype: int64

5)What is the average family income of the student?

In [8]:
import numpy as np

# Define a function to convert income ranges to their midpoints
def convert_to_midpoint(income_range):
    try:
        # Extract numbers from the range and remove " Lakh"
        lower, upper = income_range.replace(' Lakh', '').split('-')
        # Convert to float and calculate midpoint
        midpoint = (float(lower) + float(upper)) / 2
        return midpoint
    except ValueError:
        # If the format is incorrect, return NaN
        return np.nan

# Apply the conversion function to the 'Family Income' column
data['Family Income Midpoint'] = data['Family Income'].apply(convert_to_midpoint)

# Calculate the average of the midpoint values
average_family_income = data['Family Income Midpoint'].mean()

print(f'Average family income of the students: {average_family_income:.2f} Lakh')

Average family income of the students: 1.19 Lakh

6)How does the GPA vary among different colleges? (Show top 5 results only)

In [9]:
# Group by 'College Name' and calculate the average GPA for each college
college_gpa = data.groupby('College Name')['CGPA'].mean()

# Sort the colleges by average GPA in descending order and select the top 5
top_5_colleges = college_gpa.sort_values(ascending=False).head(5)

print("Top 5 Colleges by Average GPA:")
print(top_5_colleges)

Top 5 Colleges by Average GPA:
College Name
THAKUR INSTITUTE OF MANAGEMENT STUDIES, CAREER DEVELOPMENT & RESEARCH - [TIMSCDR]    8.585714
St Xavier's College                                                                  8.578571
B. K. Birla College of Arts, Science & Commerce (Autonomous), Kalyan                 8.456410
Symbiosis Institute of Technology, Pune                                              8.303448
AP SHAH INSTITUTE OF TECHNOLOGY                                                      8.283333
Name: CGPA, dtype: float64

7)Are there any outliers in the 'attending status & quantity (number of courses completed) attribute?

In [10]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile) for 'Quantity'
Q1 = data['Quantity'].quantile(0.25)
Q3 = data['Quantity'].quantile(0.75)

# Calculate the IQR
IQR = Q3 - Q1

# Define outliers as values that are below (Q1 - 1.5 * IQR) or above (Q3 + 1.5 * IQR)
outliers = data[(data['Quantity'] < (Q1 - 1.5 * IQR)) | (data['Quantity'] > (Q3 + 1.5 * IQR))]

print(f"Number of outliers: {outliers.shape[0]}")
print(outliers[['Quantity']].head())

Number of outliers: 0
Empty DataFrame
Columns: [Quantity]
Index: []

8)What is the average GPA for student from each city?

In [14]:
# Calculate the average GPA (CGPA) for each city
average_gpa_by_city = data.groupby('City')['CGPA'].mean().reset_index()

# Rename columns for better clarity
average_gpa_by_city.columns = ['City', 'Average CGPA']

print(average_gpa_by_city)

          City  Average CGPA
0     Agartala      7.660714
1         Agra      8.046429
2    Ahemdabad      8.190385
3        Ajmer      8.284314
4        Akola      8.021429
..         ...           ...
172    Vidisha      7.738095
173  Vijaywada      7.986364
174     Wardha      8.328571
175     konark      8.071429
176      kullu      7.878571

[177 rows x 2 columns]

9)Can we identify any relationship between family income and GPA?

In [16]:
import pandas as pd

# Load the dataset
data = pd.read_excel('data.xlsx')

# Map the 'Family Income' values to numeric categories
income_mapping = {
    '0-2 Lakh': 1,
    '2-5 Lakh': 2,
    '5-7 Lakh': 3,
    '7 Lakh+': 4
}
data['Family Income Encoded'] = data['Family Income'].map(income_mapping)

# Calculate the correlation between 'Family Income Encoded' and 'CGPA'
correlation = data[['Family Income Encoded', 'CGPA']].corr().iloc[0, 1]

# Output the correlation value
print(f"Correlation between Family Income and CGPA: {correlation}")

Correlation between Family Income and CGPA: 0.0158989020671666